html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.chat-history .box, .navbar-shadow {
    box-shadow: 0.1em 0.1em 0.15em 0.05em #0a0a0a1a;
}

.simplebar-content {
    min-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.question-options .list-item:hover {
    background: #485FC7;
    color: #ffffff !important;
}

.question-options .list-item:hover > * {
    color: #ffffff !important;
}

.container.is-fullheight-with-navbar {
    height: calc(100% - 3.25rem);
    width: inherit;
}

.chat-history {
    max-height: 100%;
    overflow-x: hidden;
}