html, body {
    height: 100%;
    width: 100%;
}

.chat-history {
    max-height: calc(100vh - 6.5rem);
    overflow-x: hidden;
}

.is-accent {
    background: #485FC7;
    color: #ffffff;
}

.is-accent-text {
    color: #ffffff;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}