<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="content box has-background-link-light">
            <h1 class="has-text-centered has-text-link">Frequently Asked Questions (FAQ)</h1>

            <h2>How to chat?</h2>
            <p>You can interact with SERENA with keyboard or mouse.
                If you are using keyboard you can type your prompt and press enter or click send button
                (<span class="icon"><i class="fas fa-paper-plane"></i></span>).
                If you are using mouse, you can click the suggestions provided by SERENA.</p>

            <h2>How to answer a question?</h2>
            <p>You can answer chat by typing the answer number in the chat box or by clicking on answer from answer list
                shown.</p>

            <h2>How to exit a quiz?</h2>
            <p>Right now you can't exit in the middle of a test.
                However, you can continue from last session on the same browser.</p>

            <h2>SERENA is not recognizing my name. What can I do?</h2>
            <p>Sometimes SERENA may not be able to understand your input. For now, you can enter just your
                first name as one word, and SERENA will recognize it or you can "skip" to continue.</p>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>