{% extends 'layouts/default.html' %}

{% block body %}
    <section class="hero is-fullheight-with-navbar has-background-white">
        <div class="hero-body p-0">
            <div class="container is-max-desktop has-background-light">
                <div id="chatHistory" class="chat-history">
                    {% for chat in history %}
                        {% set input = chat['input'] %}
                        <div class="columns is-justify-content-end">
                            <div class="column is-two-thirds">
                                <div class="box m-3">
                                    <p>{{ input }}</p>
                                </div>
                            </div>
                        </div>
                        {% set output = chat['output'] %}
                        <div class="columns">
                            <div class="column is-two-thirds">
                                <div class="box m-3">
                                    <p>{{ output['text'] }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <form class="chat-input pb-3" action="{{ url_for('index') }}" method="post"
                      style="padding-left: 12px; padding-right: 12px;"
                      up-submit up-target=".chat-history" up-scroll="auto">
                    <div class="field has-addons">
                        <p class="control w-100">
                            <label for="userInput"></label>
                            <input class="input" id="userInput" name="input" type="text">
                        </p>
                        <p class="control">
                            <button class="button" type="submit">
                                <span class="icon"><i class="fas fa-paper-plane"></i></span>
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        up.compiler('.chat-history', function (element) {
            const simpleBar = new SimpleBar(document.getElementById('chatHistory'));
            const scrollElement = simpleBar.getScrollElement();
            if (scrollElement !== null) {
                scrollElement.scrollTop = scrollElement.scrollHeight;
            }
        });
    </script>
{% endblock %}

